@font-face {
    font-family: tally;
    src: url("/fall2023/jmoore143/games/tic-tac-toe/font/TallyMark.ttf") format("truetype"),
        url("/fall2023/jmoore143/games/tic-tac-toe/font/TallyMark.otf") format("opentype");
}

.scoreboard .score {
    font-family: "tally";
}

game {
    display: grid;
    /* justify-content: space-between; */
    /* align-items: center; */
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    --border-width: 3px;

    & board {
        grid-row: 2 / span 1;
        grid-column: 2 / span 1;
        --cell-size: 80px;

        & row {
            display: table-row;
        }

        & cell {
            border: solid white 0px;
            /* set the initial border style */
            border-collapse: collapse;
            padding: 0px;
            display: table-cell;
            width: var(--cell-size);
            height: var(--cell-size);
            overflow: hidden;

            &>div {
                height: 100%;
                width: 100%;
                overflow: hidden;
                display: flex;
                justify-content: center;
                align-items: flex-end;
            }

            &>div>i {
                font-weight: 900;
                display: inline-block;
                font-family: "Font Awesome 6 Pro";
                font-style: normal;
                line-height: 1;
                text-rendering: auto;
                font-size: 80px;
                overflow: hidden;
                text-overflow: clip;
            }

            &[data-marker="x"]>div>i::before {
                content: '\58';
            }

            &[data-marker="o"]>div>i::before {
                content: '\4f';
            }

            &[data-marker="x"]>div>i {
                content: 'x';
            }

            &[data-marker="o"]>div>i {
                content: 'o';
            }
        }

        & row:not(:first-child) cell {
            /* override the middle row border width */
            border-top-width: var(--border-width);
        }

        & cell:not(:last-child) {
            /* override the middle column border width */
            border-right-width: var(--border-width);
        }
    }

    & scoreboard {
        grid-row: 1 / span 2;
        grid-column: 1 / span 1;
        font-size: 3em;

        & row {
            display: table-row;

            & cell {
                border: 0px solid white;
            }

            &:nth-child(1) cell {
                width: 200px;
                height: 50px;

                &>div {
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }

            &:nth-child(2) cell {
                width: 200px;
                height: 300px;
                font-family: "tally";
                padding: 10px;
                font-weight: bold;
                /* font-size: 2em; */
            }

            &:first-child cell {
                border-bottom-width: var(--border-width);
            }

            & cell:first-child {
                border-right-width: var(--border-width);
            }
        }

        & cell {
            display: table-cell;
        }
    }

    & div.turnDisplay{
        text-align: center;
        font-size: 30px;
    }
}