#buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 40px;
}

button {
    background-color: blue;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 10px;
}

button:hover {
    filter: brightness(80%);
}

button:active {
    filter: brightness(60%);
}