:root {
    --light-text: #fff;
    --dark-text: #000;
}

body {
    margin: 0px;
}

.hide-scroll,
body {
    /*IE, edge, firefox*/
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.hide-scroll::-webkit-scrollbar,
body::-webkit-scrollbar {
    /*chrome, safari, opera*/
    display: none;
}

.text-border {
    text-shadow: 1px 1px var(--accent),
        -1px -1px var(--accent),
        -1px 1px var(--accent),
        1px -1px var(--accent);
}

main {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 300px;
    /* width: 80%; */
    overflow-y: auto;
}

main>div {
    width: 800px;
}