body.dark,
body.theme3 {
    --text: #ffffff;
    --background: #202124;
    --primary: #5277e5;
    --secondary: #303134;
    --accent: #1e4fdf;
    color: var(--text);
    background-color: var(--background);
}

body {
    color: var(--text);
    font-family: "Ember";
}

a,
a:visited {
    color: var(--text);
}

main a:after:not(.prev):not(.next) {
    content: "\00a0\00a0\f08e";
    font-family: FontAwesome;
    font-size: 0.6rem;
}