@font-face {
    font-family: 'Ember';
    font-weight: 200;
    src: url("/jmoore143/fonts/200.woff2") format("woff2"),url("/jmoore143/fonts/200.woff") format("woff")
}

@font-face {
    font-family: 'Ember';
    font-weight: 200;
    font-style: italic;
    src: url("/jmoore143/fonts/200 italic.woff2") format("woff2"),url("/jmoore143/fonts/200 italic.woff") format("woff")
}

@font-face {
    font-family: 'Ember';
    src: url("/jmoore143/fonts/normal.woff2") format("woff2"),url("/jmoore143/fonts/normal.woff") format("woff")
}

@font-face {
    font-family: 'Ember';
    font-style: italic;
    src: url("/jmoore143/fonts/normal italic.woff2") format("woff2"),url("/jmoore143/fonts/normal italic.woff") format("woff")
}

@font-face {
    font-family: 'Ember';
    font-weight: 500;
    src: url("/jmoore143/fonts/500.woff2") format("woff2"),url("/jmoore143/fonts/500.woff") format("woff")
}

@font-face {
    font-family: 'Ember';
    font-weight: 500;
    font-style: italic;
    src: url("/jmoore143/fonts/500 italic.woff2") format("woff2"),url("/jmoore143/fonts/500 italic.woff") format("woff")
}

@font-face {
    font-family: 'Ember';
    font-weight: 700;
    src: url("/jmoore143/fonts/700.woff2") format("woff2"),url("/jmoore143/fonts/700.woff") format("woff")
}

@font-face {
    font-family: 'Ember';
    font-style: italic;
    font-weight: 700;
    src: url("/jmoore143/fonts/700 italic.woff2") format("woff2"),url("/jmoore143/fonts/700 italic.woff") format("woff")
}