div {
    border: 1px red solid;
    font-size: 2em;
}

.container {
    border: 2px solid black;
    padding: 20px;
    margin: 10px;
    background-color: lightgray;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;

}

body {
    background-color: lightcoral;
}